In [1]:
import pandas as pd
df=pd.read_csv("D:/test.csv")
print(df)

     Name   Roll no
0  Hardik  11212600

In [8]:
import csv
	
rows=[['Hardik','11212600','A'],['Vikas','11212526','A']]
	
fields = ['name', 'roll_no', 'Section']
	
# name of csv file
filename = "D:/write.csv"
	
with open(filename, 'w') as csvfile:

    csvwriter=csv.writer(csvfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(rows)

In [9]:
import pandas as pd
df=pd.read_excel("D:/read.xlsx")
print(df)

     Name   Roll No
0  Hardik  11212600

In [11]:
import csv
	
rows=[['Hardik','11212600','A'],['Vikas','11212526','A']]
	
fields = ['name', 'roll_no', 'Section']
	
filename = "D:/write2.xlsx"
	
with open(filename, 'w') as xlsxfile:

    csvwriter=csv.writer(xlsxfile)
    csvwriter.writerow(fields)
    csvwriter.writerows(rows)

In [15]:
import pandas as pd
import openpyxl

df = pd.DataFrame([['hardik','11212600','A']],
                   columns=['name', 'roll_no', 'section'])
print(df)

     name   roll_no section
0  hardik  11212600       A